header {
    padding:22px 0px 12px;
    color: black;
    float:left;
    font-size: 3em ;
    font-weight:normal;
    text-align: center;
}
.logo {
    float: left;
}
nav {
    padding: 20px 12px 16px 12px;
} 
nav .about_me_nav {
    display: inline;
    color:green;
    text-align: center;
    font-size: 22px;
}   
a {
    text-decoration: none;
    color: grey;
    text-align: center;
    padding: 17px 50px 16px 50px;
}
a:hover {
    color:rosybrown;
}
a:active{ 
    color: rgb(225, 126, 250);
}
body {
    background-color: rgb(243, 240, 234);
    font-family:'Times New Roman', Times, serif;
}
.bodycontent {
    color: grey;
    text-align: justify;
    padding: 0px;
    clear: both;
    font-size:x-large;
}
.bodyimage {
    float: right;
}
section {
    margin-top: 11em;
}
main {
    margin: auto 50px;
    padding: 20px;
}